.cool-table-container {
  display: auto;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: auto;
  margin-right: auto;
  padding: 0px 5px 0px 30px;
  max-height: 810px;
  width: 100%;
}

.cool-table {
  border-collapse: collapse;
  color: #ffffff;
  width: 100%;
  margin: 0px 0;
  font-size: 18px;
  position: sticky;
  text-align: left;
}

.cool-table th,
.cool-table td {
  /*border: 1px solid #ddd;*/
  padding: 12px;
}

.cool-table th {
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
}

.cool-table tr:nth-child(even) {
  background-color: #324646;
}

.cool-table tr:hover {
  background-color: #546154;
}