.sticky-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
    background-color: rgba(82, 99, 99, 0.6);
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 40px;
    z-index: 1000;
    backdrop-filter: blur(9px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sticky-header::after {
    content: '';
    display: block;
    width: 50%;
    height: 4px;
    background: linear-gradient(145deg, #FFD700, #FFC700); /* Shiny gold gradient */
    margin: 0 auto;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 25%; /* Center the border horizontally */
}

/* Logo button styles */
.sticky-header .logo-button {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-right: auto; /* Push logo to the left */
}

/* Logo image inside the logo button */
.sticky-header .logo-button img {
    height: 80px;
    transform: scale(1.2);
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* Container for other buttons */
.sticky-header .button-container {
    display: flex;
    gap: 20px;
    padding: 10px;
    margin-left: auto;
}

.sticky-header .logo-title-container {
    display: flex;
    padding: 0px;
}

.sticky-header .logo-title-container h1 {
    font-size: 50px;
    font-weight: bold;
    background: linear-gradient(75deg, #b38b46 35%, #00dc67 80%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

/* General button styles */
.sticky-header .button-container .flip-button {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    font-weight: bold;
    padding: 30px 50px;
    font-size: 35px;
    transform: translateX(-30%);
    perspective: 1000px;
}

.sticky-header .button-container .flip-content {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    overflow: hidden;
 will-change: transform;
}

.sticky-header .button-container .flip-button:hover .flip-content,
.sticky-header .button-container .flip-button.flipped .flip-content {
    transform: rotateY(180deg);
}

/* .sticky-header .button-container .flip-button:hover .flip-content,
.sticky-header .button-container .flip-button.flipped .flip-content {
    transform: rotateY(180deg);
} */

.sticky-header .button-container .flip-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0px;
    transition: transform 0.6s ease-in-out;
}

.sticky-header .button-container .flip-front {
    z-index: 2;
    color: rgb(82, 164, 82);
    background: transparent;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.6s ease-in-out;
}
.sticky-header .button-container .flip-button:hover .flip-front,
.sticky-header .button-container .flip-button.flipped .flip-front {
    opacity: 0;
}

.sticky-header .button-container .flip-back {
    z-index: 1;
    transform: rotateY(180deg);
    color: #edf3ae;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.6s ease-in-out;
}
.sticky-header .button-container .flip-button:hover .flip-back,
.sticky-header .button-container .flip-button.flipped .flip-back {
    opacity: 1;
}

